html .default{
  transition: all .4s;
  background-color: var(--light);
  --light: #fff;
  --dark: #2e2c31;
}

html .dark-mode{
  transition: all .4s;
  background-color: var(--light);
  --light: #2e2c31;
  --dark: #fff;
}

